<nav>
  <div class="menu-icon" (click)="toggleMenu()">
    <span *ngIf="!isMenuOpen">&#9776;</span>
    <span *ngIf="isMenuOpen">&#10005;</span>
  </div>
  <ul [class.active]="isMenuOpen">
    <!-- <li><a (click)="scrollTo('about')">About</a></li>
    <li><a (click)="scrollTo('education')">Education</a></li>
      <li><a (click)="scrollTo('skill')">Skills</a></li>
      <li><a (click)="scrollTo('projects')">Projects</a></li>
    <li><a (click)="scrollTo('contact')">Contact</a></li> -->

    <li><a (click) = "onClick()" routerLink="/"> Home </a></li>
    <li><a (click) = "onClick()" routerLink="/about">  About me </a></li>
  </ul>
</nav>
<!-- <p>Menu is open: {{ isMenuOpen }}</p> -->
