
<section id="about" class="about">
    <div class="container">
      
      <!-- <div class="avatar">
        <img src="assets/your-avatar.jpg" alt="Your Name" class="avatar-image" />
      </div>
   -->
      
      <div class="intro">
        <h2>About Me</h2>
        <!-- , a Developer with 6 months of experience working on Backend development. -->
        <p>
          Hi, I'm <strong>Pham Thi Quynh Anh</strong>.
          I specialize in building scalable web applications and API services. My passion for coding started with Frontend development, and over time, I’ve expanded my skills into Backend development.
        </p>
        <br>
        <p>
          I’ve had hands-on experience with technologies like <strong>Spring boot, Laravel</strong> on the backend and <strong>HTML, CSS, JavaScript, Angular, React</strong> on the frontend. I love solving complex problems, optimizing performance, and ensuring seamless user experiences across the stack.
        </p>
        <br>
        <p>
          I’m continuously learning and expanding my skill set. Currently, I’m exploring how to integrate more advanced backend concepts such as authentication, database design to improve the quality and scalability of my projects.
        </p>
      </div>
      <app-education></app-education>
      <app-skills></app-skills>
    </div>
  </section>
  