
  
/* Add a card effect for articles */
.card {
    /* background-color: white; */
    padding: 20px;
    margin-top: 3%;
  }
  
  .col-sm{
    margin-right: 1%;

  }
  .row{
    margin-left: 3%;
    margin-right: 3%;
  }