<!-- <div class="links">
    <h3>How to Setup a Laravel Project You Cloned from Github.com</h3>
    <a routerLink="/blogs/post/setup-laravel" style="margin-bottom:24px">See more >></a>
</div> -->
<div style="height: 10vh;"></div>
<div class="row">
    <div class="card col-sm">
        <h2>How to Setup a Laravel Project You Cloned from Github.com</h2>
        <h5>Sep 28, 2023</h5>
        <!-- <div class="setup-laravel" style="height:200px;"></div> -->
        <img src="../../assets/images/blog-laravel-repo.png" alt="git img" height="200px" width="auto">
        <p>Quick guide for setting up</p>
        <a routerLink="/blogs/post/setup-laravel" style="margin-bottom:24px">See more >></a>
    </div>
    
    <div class="card col-sm">
        <h2>Git Quick Start</h2>
        <h5>January 1, 2024</h5>
        <!-- <div class="git-basic" style="height:200px;"></div> -->
        <img src="../../assets/images/git.jpg" alt="git img" height="200px" width="auto">
        <p>Quick guide for learning Git </p>
        <a routerLink="/blogs/post/git-basic" style="margin-bottom:24px">See more >></a>
    </div>

</div>
<div class="row">
    <div class="card col-sm">
        <h2>How to transfer repositories from GitLab to GitHub</h2>
        <h5>January 3, 2024</h5>
        <!-- <div class="git-basic" style="height:200px;"></div> -->
        <img src="../../assets/images/git.jpg" alt="git img" height="200px" width="auto">
        <p>Quick guide for learning Git </p>
        <a routerLink="/blogs/post/import-gitlab-to-github" style="margin-bottom:24px">See more >></a>
    </div>
    <div class="col-sm">

    </div>
</div>

<div style="height: 10vh;"></div>

