h1 {
    font-size: 32px;
    line-height: 40px;
}

li, p, a {
    margin: 0 0 20px 0;
    font-size: 15px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
}

h3 {
  font-size: 21px;
  line-height: 24px;
  margin: 1em 0;
}

h4 {
  font-size: 18px;
  line-height: 18px;
}

code, pre {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 14px;
  line-height: 1.5;
}

code {
  background-color: rgba(175, 184, 193, 0.2);
  color: #24292f;
  padding: 0.2em 0.4em;
  margin: 0;
  border-radius: 6px;
}

pre {
  background-color: #f6f8fa;
  border-radius: 6px;
  padding: 16px;
  overflow: auto;
  border: 1px solid #d0d7de;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  margin: 1em 0;
}

pre > code {
  background: none;
  padding: 0;
  margin: 0;
  color: #24292f;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre;
}

.title-post{
  text-align: center; 
  color:  #8ab4f8; 
  margin-bottom:3%;
}