.custom-hr {
  height: 1px;
  background: linear-gradient(to right, #fff, #000, #fff);
  border: none;
  margin: 2rem auto;
  width: 80%;
}

h2{
  margin-bottom: 1em;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
}

.title {
  color: grey;
  font-size: 1em;
  font-family: 'Inter', sans-serif;
}

.project-list {
  text-align: left;
  margin-bottom: 3rem;
}

.project {
  margin-bottom: 2rem;
}

.project-divider {
  width: 70%;
  margin: 2rem auto;
  border-top: 1px solid #ddd;
}

.contact-icons {
  margin-bottom: 2rem; /* Thêm khoảng cách phía dưới phần Contact */
}

.contact-icons a {
  font-size: 1.5em;
  margin: 0 10px;
  color: inherit;
  transition: opacity 0.3s;
}

.contact-icons a:hover {
  opacity: 0.7;
}

@media (max-width: 650px) {
  .custom-hr {
    width: 90%;
  }
}
