<div class="container mt-4">
  <div class="card">
    <div class="card-body text-center" style="margin-top: 2em;">
      <h1>Hi there! I'm Anh</h1>
      <h6>Pham Thi Quynh Anh | Phạm Thị Quỳnh Anh</h6>
      <div class="row">
        <div class="col-12">
          <div class="contact-icons">
            <a href="mailto:quynhanhphamthi01@gmail.com" style="color: red;"><i class="bi bi-google"></i></a>
            <a href="https://github.com/anh0701" style="color: var(--dark-icon-github)"><i class="bi bi-github"></i></a>
            <a href="https://gitlab.com/anh0701" style="color: #e24329;"><i class="bi bi-gitlab"></i></a>
          </div>
        </div>
      </div> 
      <hr class="custom-hr">
      
      <h2 class="mt-4">Get to know me</h2>
      <div class="row justify-content-center">
        <div class="col-md-8 mb-3">
          <p >I am a final-year student majoring in Software Engineering. As a software engineering major, I aspire to complete many projects in the future.</p>
        </div>
      </div>

      <h2 class="mt-4">Education</h2>
      <div class="row align-items-center">
        <div class="col-md-7 mb-3 mb-md-0 d-flex flex-column justify-content-center">
          <h5>Vietnam Maritime University</h5>
          <h6>Software Engineering</h6>
          <h6 class="title">Oct 2020 - now</h6>
        </div>
        <div class="col-md-5 text-center">
          <img src="../../../assets/images/logo-school.svg" alt="School Logo" class="img-fluid" style="width: 25%;">
        </div>
      </div>


      <h2 class="mt-4">Skills</h2>
      <div class="row align-items-center">
        <app-skill-buttons></app-skill-buttons>
      </div>

      <h2 class="mt-4">Projects</h2>
      <div class="project-list text-left">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="project d-flex justify-content-between align-items-center">
              <h4 class="mb-0"><strong>Cat Store</strong></h4>
              <h6 class="mb-0 title">2023 - now</h6>
            </div>
            <p><strong>GitHub:</strong> <a href="https://github.com/anh0701/cat-store" target="_blank"> GitHub Repository</a></p>
            <p><strong>Members:</strong> 1</p>
            <p><strong>Technologies Used:</strong> Laravel, MySQL, RESTful API, Docker.</p>
            <p><strong>Project Purpose:</strong> This project aimed to develop a web application for managing the sale of cat supplies.</p>
          </div>
          <hr class="project-divider">
        </div>

        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="project d-flex justify-content-between align-items-center">
              <h4 class="mb-0"><strong>Shopping App</strong>  </h4>
              <h6 class="mb-0 title">2023 - now</h6>
            </div>
            <p><strong>GitHub:</strong> <a href="https://github.com/anh0701/shopping-app" target="_blank"> GitHub Repository</a></p>
            <p><strong>Members:</strong> 1</p>
            <p><strong>Technologies Used:</strong> Flutter, Atomic Design.</p>
            <p><strong>Project Purpose:</strong> This project aimed to develop a web application for food ordering.</p>
          </div>
          <hr class="project-divider">
        </div>

        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="project d-flex justify-content-between align-items-center">
              <h4 class="mb-0"><strong>Electronics-store</strong></h4>
              <h6 class="mb-0 title">3/2024 - 6/2024</h6>
            </div>
            <p><strong>GitHub:</strong> <a href="https://github.com/anh0701/electronics-store" target="_blank"> GitHub Repository</a></p>
            <p><strong>Members:</strong> 3</p>
            <p><strong>Technologies Used:</strong> Laravel, MySQL, MVC.</p>
            <p><strong>Project Purpose:</strong> This project aimed to develop a web application for introducing and supporting the business of electronic products.</p>
          </div>
        </div>


      </div>
      
    </div>
  </div>
</div>
