
<section id="post-list">
    <div class="post-list">
        <div *ngFor="let post of posts" class="post-item" (click)="viewPostDetail(post.slug)">
            <div class="post-preview">
                <img *ngIf="post.image" [src]="post.image" alt="Post Image" class="post-image" />
                <div class="post-info">
                    <h3>{{ post.title }}</h3>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                    <div class="post-meta">
                        <span class="post-author">{{ post.author }}</span>
                        <span class="post-time">{{ post.time }}</span>
                        <span class="post-tags">{{ post.tags.join(', ') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
