
<section id="post-list">
    <div *ngIf="!isPostDetail" class="post-list">
        <div *ngFor="let post of posts" class="post-item" (click)="viewPost(post)">
            <div class="post-preview">
                <img *ngIf="post.image" [src]="post.image" alt="Post Image" class="post-image" />
                <div class="post-info">
                    <h3>{{ post.title }}</h3>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                    <div class="post-meta">
                        <span class="post-author">{{ post.author }}</span>
                        <span class="post-time">{{ post.time }}</span>
                        <span class="post-tags">{{ post.tags.join(', ') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div *ngIf="isPostDetail" class="post-detail">
        <button (click)="goBack()" class="back-btn">&#8592;</button> 
        <h1 class="post-title">{{ selectedPost?.title }}</h1>
        <p class="post-author">{{ selectedPost?.author }} - {{ selectedPost?.time }}</p>
        <div class="post-content" [innerHTML]="selectedPost?.content"></div>

       
        <div class="post-comments">
            <!-- <app-giscus-wrapper></app-giscus-wrapper> -->
        </div>
    </div>
</section>
