@import "tailwindcss";

:root {
  --bg: #070b14;
  --panel: rgba(255, 255, 255, 0.03);
  --border: rgba(255, 255, 255, 0.06);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);

  background-size: 40px 40px;

  mask-image: radial-gradient(circle at center, black, transparent 80%);

  pointer-events: none;
}

@layer base {
  .markdown h1 {
    @apply text-4xl font-bold mt-10 mb-6 text-white;
  }

  .markdown h2 {
    @apply text-2xl font-semibold mt-10 mb-4 text-white;
  }

  .markdown h3 {
    @apply text-xl font-semibold mt-8 mb-3 text-white;
  }

  .markdown p {
    @apply text-zinc-300 leading-7 my-4;
  }

  .markdown a {
    @apply text-blue-400 hover:underline;
  }

  .markdown code {
    @apply text-pink-300;
  }
}
