<div class="column">
  <div class="card position-absolute top-50 start-50 translate-middle">
    <img src="../../assets/images/meow.jpg" alt="" style="width:100%">
    <div class="container">
      <h2 style="text-align: center;">Pham Thi Quynh Anh</h2>
      <hr>
      <p class="title">I am a Final-year student majoring in Software Engineering.</p>
      <p>Vietnam Maritime University</p>
      <div style="margin: 24px 0;">
        <a href="https://github.com/anh0701"><i class="bi bi-github" style="color: var(--dark-icon-github)"></i></a>
        <a href="https://gitlab.com/anh0701"><i class="bi bi-gitlab" style="color: #e24329;"></i></a>
        <a href="mailto:quynhanhphamthi01@gmail.com"><i class="bi bi-google" style="color: red;"></i></a>
      </div>
    </div>
  </div>
</div>