<div class="column">
    <div class="card position-absolute top-50 start-50 translate-middle">
      <img src="../../assets/images/meow.jpg" alt="" style="width:100%">
      <div class="container">
        <h2 style="text-align: center;">Pham Thi Quynh Anh</h2>
        <hr>
        <p class="title">I am a Final-year student majoring in Software Engineering.</p>
        <!-- <span>Github: </span>
        <a href="https://github.com/anh0701">https://github.com/anh0701</a>
        <br>
        <span>Gitlab: </span>
        <a href="https://gitlab.com/anh0701">https://gitlab.com/anh0701</a> -->
        <p><button class="button" routerLink="/contact">Contact me</button></p>
      </div>
    </div>
  </div>
