
<div class="column">
  <div class="card position-absolute top-50 start-50 translate-middle">
    <div class="demo">
      {{message}}  
    </div>

    <div class="container">
      <a href="https://github.com/anh0701"><i class="bi bi-github" style="color: var(--dark-icon-github)" ></i></a>
      <a href="https://gitlab.com/anh0701"><i class="bi bi-gitlab" style="color: #e24329;"></i></a>
      <a href="mailto:quynhanhphamthi01@gmail.com"><i class="bi bi-google" style="color: red;"></i></a>
    </div>
  </div>
</div>
